PORT=3000
MONGO_URI=mongodb://grupon3:8383@ac-7nyourw-shard-00-00.jrvgawc.mongodb.net:27017,ac-7nyourw-shard-00-01.jrvgawc.mongodb.net:27017,ac-7nyourw-shard-00-02.jrvgawc.mongodb.net:27017/?ssl=true&replicaSet=atlas-4j701q-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=tu_secreto_jwt_super_seguro
FRONT_URL=http://localhost:5173/

# Google Calendar OAuth2
GOOGLE_CLIENT_ID=644856480630-fjijcdnocm5bpfjb7tu8s4crpjgetfmq
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback

# Datos bancarios para transferencia
ALIAS_TRANSFERENCIA=canchas.deportes
CBU_TRANSFERENCIA=0000000000000000000000
TITULAR_CUENTA=Complejo Deportivo S.A.
BANCO_NOMBRE=Banco Nación
WHATSAPP_ADMIN=5491100000000

# Nodemailer (Gmail ejemplo)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=reservas.tucanchas@gmail.com
EMAIL_PASS=tgzkpmanpuyzasbs
EMAIL_FROM=Canchas & Deportes no-reply@canchas.com
BACKEND_URL=http://localhost:3000/

CLOUDINARY_SECRET=ys2NAZJDtjgRoviwzjr8p9WKICk
CLOUDINARY_CLOUDNAME=proyecto3
CLOUDINARY_APIKEY=522239457355336